/*Colors*/
$white: #fff;
$white2: #F2F2F2;
$white3: #F7F7F7;
$white4: #F3F7FB;
$black: #000;
$black2: #4D4D4D;
$black3: #1C1C1C;
$blue: rgba(34, 91, 164, 0.9);
$blue2: rgba(161, 191, 218, 0.8);
$blue3: #5474BF;
$orange: #F3C945;
$orange-hov: #f3be24;
$bord: #E8EFF5;
$bord2: #7BB6DA;
$bord3: #A1BFDA;
$bord3: #DBDEE4;
$gray: #828282;

/*Styles*/
$font-family: 'Roboto', sans-serif;